.myFont{
  font-family: "Century Schoolbook", sans-serif;
}

.container{
  height: 87vh;
}

.card{
  width: 400px;
  border: none;
  border-radius: 15px;
  padding: 8px;
  background-color: #ffffff;
  position: relative;
  height: 400px;
}

.upper{
  height: 100px;
}

.upper img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user{
  position: relative;
}

.profile img{
  height: 80px;
  width: 80px;
  margin-top:2px;
}

.profile{
  position: absolute;
  top:-50px;
  left: 38%;
  height: 90px;
  width: 90px;
  border:3px solid #fff;
  border-radius: 50%;
}

.edit{
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
}

.stats span{
  font-size: 29px;
}







header {
  display: block;
  height: 50px;
  box-shadow: 0px 5px 25px #d8d8d8;
}
.nav-item{
  margin-right: 30px;
}

.navbar{
  padding-left: 10px;
  font-size: 20px;
  padding-right: 10px;
}

.navbar-brand{
  font-size: 25px;
}

#toggleCol{
  margin-top: 20px;
  text-align: center;
}

#leftToggle{
  color: #eb7658;
}

.productDiv{
  margin-top: 1%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 1.5%;
}

.row{
  margin-left: 0.7%;
}

.headings{
  margin-left: 1.5%;
}

.col-7{
  text-align: end;
}

#sortButton{
  margin-bottom: 10px;
  margin-left: 20px;
}

#buttonSearch{
  width: 40px;
}

.StartText{
  font-size: 26px;
}

.StartSubText{
  font-size: 20px;
}

.btn-primary{
  background-color: #eb7658;
  border-color: #eb7658;
  border-radius: 7px;
}

.alert-custom-success{
  background-color:#e9f471;
  color:#000000;
}

.btn-outline-custom-success{
  color: #c5d510;
  background-color: #ffffff;
  border-color: #c5d510;
}

.btn-outline-custom-success:hover{
  background-color: #c5d510;
  color: #ffffff;
}

.btn-outline-custom-warning{
  background-color: #f7bb08;
  color: #ffffff;
}
.btn-outline-custom-warning:hover{
  color: #f7bb08;
  border-color: #f7bb08;
  background-color: #ffffff;
}

.btn-outline-custom-danger{
  color: #c60659;
  background-color: #ffffff;
  border-color: #c60659;
}

.btn-outline-custom-danger:hover{
  background-color: #c60659;
  color: #ffffff;
}

.row-margin{
  margin-left: -10px;
}


#brand{
  font-family: "Century Schoolbook", sans-serif;
  font-weight: bolder;
  margin-left: 1%;
}

@media (min-width: 360px) {
  .col-5{
    width: 180px;
  }
  .col-7{
    width: 180px;
  }
  #sortButton{
    margin-left: 10px;
  }
  .StartText{
    font-size: 25px;
  }

  .StartSubText{
    font-size: 18px;
  }
  .col-9{
    width: 100%;
  }
  .col-3{
    width: 95%;
    margin-bottom: 20px;
  }
}

@media (min-width: 390px) {
  .col-5{
    width: 195px;
  }
}

@media (min-width: 400px) {
  .col-5{
    width: 210px;
  }
}

@media (min-width: 1280px) {
  .col-7{
    text-align: end;
    width: 57.333%;
  }

  .col-5{
    width: 41.667%;
  }

  #sortButton{
    margin-left: 20px;
  }
  .col-9{
    width: 70%;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .col-3{
    width: 30%;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .StartText{
    font-size: 26px;
  }

  .StartSubText{
    font-size: 20px;
  }


}
