<div class="container-no-margin" *ngIf="currentUser; else loggedOut">
<div class="container d-flex justify-content-center align-items-center mb-2">
  <div class="card shadow-lg p-3">
    <div class="upper">
      <img src="assets/images/account.png" alt="background_account" class="img-fluid">
    </div>
    <div class="user text-center d-flex justify-content-center mt-2 mb-2">
      <div class="profile">
        <img src="assets/icons/user.png" alt="user_icon" class="rounded-circle bg-white p-1" width="512">
      </div>
    </div>
    <div class="mt-5 text-center">
      <h4 class="mb-0 myFont">{{currentUserInfo.user_name}}</h4>
      <span class="text-muted d-block mb-2 myFont">{{currentUserInfo.user_mail}}</span>
      <button class="btn btn-outline-custom-warning btn-md edit" (click)="open(editUserPopUp)">Edit</button>
      <div class=" col d-flex justify-content-between align-items-center mt-4 px-4">
        <div class="stats">
          <h6 class="mb-0">Inventory Items</h6>
          <span>{{lengthInventoryList}}</span>
        </div>
        <div class="stats">
          <h6 class="mb-0">Supply Items</h6>
          <span>{{lengthShoppingList}}</span>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Edit User PopUp -->
<ng-template #editUserPopUp let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="popUp-title">
      Edit your Profile
    </h4>
    <button type="button" class="close"
            aria-label="Close" (click)="modal.dismiss('Cross click');">
              <span aria-hidden="true">
                  ×
              </span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="userName">Name</label>
        <input
          type="text"
          class="form-control"
          id="userName"
          required
          [(ngModel)]="currentUserInfo.user_name"
          name="userName"
        />
      </div>
      <div class="form-group">
        <label for="userEmail">Email</label>
        <input
          type="email"
          class="form-control"
          id="userEmail"
          required
          [(ngModel)]="currentUserInfo.user_mail"
          name="userEmail"
        />
      </div>
      <div class="form-group">
        <label for="userPassword">Password</label>
        <input
          type="text"
          class="form-control"
          id="userPassword"
          required
          [(ngModel)]="currentUserInfo.user_password"
          name="userPassword"
        />
      </div>
      <div class="row row-margin">
        <div class="col">
          <button (click)="updateUser(); modal.close()" type="button" class="btn btn-block btn-outline-custom-success">Save</button>
        </div>
        <div class="col">
          <button (click)="open(deleteUserPopUp); modal.close()" type="button" class="btn btn-block btn-outline-custom-danger">Delete</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<!-- PopUp Delete Item from DB -->
<ng-template #deleteUserPopUp let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="deleteItemPopUpTitle">
      Delete your Account
    </h4>
    <button type="button" class="close"
            aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">
                  ×
              </span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-dark">
      <h4 class="alert-heading">
        Danger Zone
      </h4>
      <p class="m-0 p-1">By clicking on <b>"Delete"</b> you will permanently delete your Account</p>
    </div>
    <button type="button"
            id="deleteButton"
            class="btn btn-outline-custom-danger btn-block"
            (click)="deleteUser(); modal.close('Delete click')">
      Delete
    </button>
  </div>
</ng-template>
</div>

<ng-template #loggedOut>
  <app-error-page></app-error-page>
</ng-template>
