.userInfo{
  font-family: "Century Schoolbook", sans-serif;
}

.container{
  height: 87vh;
}

.card{
  width: 80vh;
  border: none;
  border-radius: 15px;
  padding: 8px;
  background-color: #ffffff;
  position: relative;
  height: 80vh;
}

.upper{
  height: 100px;
}

.upper img{
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user{
  position: relative;
}

.profile img{
  height: 80px;
  width: 80px;
  margin-top:2px;
}

.profile{
  position: absolute;
  top:-7vh;
  height: 90px;
  width: 90px;
  border:3px solid #f7bb08;
  border-radius: 50%;
}


.edit{
  padding-left: 20px;
  padding-right: 20px;
  height: 35px;
  margin-top: 3vh;
}

.stats span{
  font-size: 29px;
}

.btn-primary{
  background-color: #eb7658;
  border-color: #eb7658;
  border-radius: 7px;
}

.btn-outline-custom-success{
  color: #c5d510;
  background-color: #ffffff;
  border-color: #c5d510;
}

.btn-outline-custom-success:hover{
  background-color: #c5d510;
  color: #ffffff;
}

.btn-outline-custom-warning{
  background-color: #f7bb08;
  color: #ffffff;
  width: 25%;
}
.btn-outline-custom-warning:hover{
  color: #f7bb08;
  border-color: #f7bb08;
  background-color: #ffffff;
  width: 25%;
}

.btn-outline-custom-danger{
  color: #c60659;
  background-color: #ffffff;
  border-color: #c60659;
}

.btn-outline-custom-danger:hover{
  background-color: #c60659;
  color: #ffffff;
}

.row-margin{
  margin-left: -11px;
}

.alert-custom-success{
  background-color:#e9f471;
  color:#000000;
}

@media (min-width: 360px) {
  .col-5{
    width: 180px;
  }
  .col-7{
    width: 180px;
  }
  #sortButton{
    margin-left: 10px;
  }
  .StartText{
    font-size: 25px;
  }

  .StartSubText{
    font-size: 18px;
  }
  .col-9{
    width: 100%;
  }
  .col-3{
    width: 95%;
    margin-bottom: 20px;
  }
  .user-margin{
    margin-top: 40px;
  }
}

@media (min-width: 390px) {
  .col-5{
    width: 195px;
  }

  .makeWidder{
    text-align: center;
    width: 100%;
  }

  .user-margin{
    margin-top: 60px;
  }
}

@media (min-width: 400px) {
  .col-5{
    width: 210px;
  }

  .card{
    width: 80vh;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #ffffff;
    position: relative;
    margin-top: 30px;
    height: 70vh;
  }

  .makeWidder{
    text-align: center;
    width: 100%;
  }
  .user-margin{
    margin-top: 80px;
  }
}

@media (min-width: 1280px) {
  .col-7{
    text-align: end;
    width: 57.333%;
  }

  .col-5{
    width: 41.667%;
  }

  #sortButton{
    margin-left: 20px;
  }
  .col-9{
    width: 70%;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .col-3{
    width: 30%;
    margin-bottom: 20px;
    margin-top: 0;
  }
  .StartText{
    font-size: 26px;
  }

  .StartSubText{
    font-size: 20px;
  }

  .card{
    width: 70vh;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #ffffff;
    position: relative;
    height: 70vh;
  }

  .user-margin{
    margin-top: 80px;
  }
}

@media (min-width: 1920px) {
  .card{
    width: 70vh;
    border: none;
    border-radius: 15px;
    padding: 8px;
    background-color: #ffffff;
    position: relative;
    height: 70vh;
  }

  .user-margin{
    margin-top: 200px;
  }

  .userInfo{
    font-size: 20px;
  }

  .userInfo h4{
    font-size: 40px;
  }

  .userInfo h6{
    font-size: 30px;
  }
  .userInfo span{
    font-size: 30px;
  }
}
