<section class="productSections">
   <div class="card2">
      <div class="card-info">
        <div class="card-avatar">
          <i class={{getIcon()}}></i>
        </div>
        <div *ngIf="item!=null" class="card-title">{{item.item_name}}</div>
      </div>
      <ul class="card-social">
        <li class="card-social__item">
          <i class="fa-solid fa-bag-shopping"></i>
        </li>
        <li class="card-social__item">
          <i class="fa-solid fa-trash"></i>
        </li>
      </ul>
  </div>
</section>
