<!-- Display shopping Items-->
<section class="productSections">
   <div class="card2">
      <div class="card-info">
        <div class="card-avatar">
          <img src="../../assets/icons/productIcons/{{getIcon()}}" class="icons" alt="{{ShoppingList!.item_name}}"/>
        </div>
        <div *ngIf="ShoppingList!=null" class="card-title">{{ShoppingList.item_name}}</div>
      </div>
      <ul class="card-social">
        <li class="card-social__item">
          <i (click)="open(addToInventoryPopUp)" class="fa-solid fa-bag-shopping"></i>
        </li>
        <li class="card-social__item">
          <i (click)="open(editItemPopUp)" class="fa-solid fa-pen"></i>
        </li>
        <li class="card-social__item">
          <i (click)="open(deleteItemPopUp)" class="fa-solid fa-trash"></i>
        </li>
      </ul>
  </div>
</section>
<!-- PopUp Delete Item from DB -->
<ng-template #deleteItemPopUp let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="deleteItemPopUpTitle">
      Delete Item
    </h4>
    <button type="button" class="close"
            aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">
                  ×
              </span>
    </button>
  </div>
  <div class="modal-body">
    <div class="alert alert-danger">
      <h4 class="alert-heading">
        Danger Zone
      </h4>
      <p>By clicking on <b>"Delete"</b> you will permanently delete <b *ngIf="ShoppingList!=null">{{ShoppingList.item_name}}</b> form the Database!</p>
    </div>
    <div class=" alert alert-dark">
      <p class="mb-0">Click <b>"Keep"</b> if you changes your mind. This will close the window.</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button"
            id="deleteButton"
            class="btn btn-outline-custom-danger btn-block"
            (click)="deleteItem(); modal.close('Delete click'); this.mainComponent.refreshList()">
      Delete
    </button>
    <button type="button"
            id="keepButton"
            class="btn btn-outline-dark btn-block"
            (click)="modal.close('Keep click')">
      Keep
    </button>
  </div>
</ng-template>

<!-- PopUp Add Item to Inventory in DB -->
<ng-template #addToInventoryPopUp let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="addToInventoryPopUp">
      Add Item to Inventory
    </h4>
    <button type="button" class="close"
            aria-label="Close" (click)="modal.dismiss('Cross click');newItem()">
              <span aria-hidden="true">
                  ×
              </span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!edited && !alreadyThere">
      <form>
        <div class="row">
          <div class="col form-group">
            <label for="itemName">Name</label>
            <input
              type="text"
              class="form-control"
              id="itemName"
              readonly
              [(ngModel)] = "currentInventory.item_name"
              name="itemName"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group w-50 col">
            <label for="itemStorage">Storage</label>
            <select
              class="form-control"
              id="itemStorage"
              required
              [(ngModel)]="currentInventory.storage_loc_id"
              name="itemStorage">
              <option disabled value=0>Select a Location</option>
              <option *ngFor="let storageLocations of storageLocation" value="{{storageLocations.storage_loc_id}}">{{storageLocations.storage_loc_name}}</option>
            </select>
          </div>
          <div class="form-group w-50 col">
            <label for="itemCategory">Category</label>
            <select
              class="form-control"
              id="itemCategory"
              required
              [(ngModel)]="currentInventory.category_id"
              name="itemCategory"
              ngModel (ngModelChange)="getDate(currentInventory.category_id!)"
              >
              <option disabled value=0>Select a Category</option>
              <option *ngFor="let category of categories" value="{{category.category_id}}">{{category.category_name}}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-no-margin form-group w-25">
            <label for="itemQuantity">Quantity</label>
            <div class="input-group">
              <input
                type="number"
                min="0"
                class="form-control"
                aria-describedby="multiply-addon"
                id="itemQuantity"
                required
                [(ngModel)]="currentInventory.quantity"
                name="itemQuantity"
              />
            </div>
          </div>
          <div class="col form-group">
            <label for="itemExpirationDate">Estimated Expiration Date</label>
            <input
              type="date"
              class="form-control"
              id="itemExpirationDate"
              required
              [(ngModel)]="date2"
              value="2023-07-07"
              name="itemExpirationDate"
            />
          </div>
        </div>
        <button (click)="addToInventory()" type="button" class="btn btn-block btn-outline-dark">Add to Inventory</button>
      </form>
    </div>
    <div *ngIf="edited">
      <div class="alert alert-custom-success">
        <h4 class="alert-heading">Item was added to your Inventory!</h4>
        <p class="mb-0">To add another Item to the inventory close the window and click the <b>"Shopping Bag"</b> Symbol</p>
      </div>
      <div class="alert alert-dark">
        <p class="mb-0">To close the Window click the <b>Finished</b> Button</p>
      </div>
      <button (click)="newItem(); modal.close('clicked Finished')" type="button" class="btn btn-block btn-outline-dark">Finished</button>
    </div>
    <div *ngIf="alreadyThere">
      <div class="alert alert-dark">
        <p class="mb-0">You already added <b>{{ShoppingList!.item_name}}</b> to your Supply List. If you want to update it use the <b>Edit</b> Icon on the Supply List Page. If you want to add a New one please <b>Delete</b> the Old one first</p>
      </div>
      <button (click)="newItem(); modal.close('clicked Finished');" type="button" class="btn btn-block btn-outline-dark">Finished</button>
    </div>
  </div>
</ng-template>

<!-- PopUp edit Item in DB -->
<ng-template #editItemPopUp let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="editItemPopUp">
      Edit Item
    </h4>
    <button type="button" class="close"
            aria-label="Close" (click)="modal.dismiss('Cross click');newItem()">
              <span aria-hidden="true">
                  ×
              </span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="!edited && !alreadyThere">
      <form>
        <div class="row">
          <div class="col form-group">
            <label for="itemName">Name</label>
            <input
              type="text"
              class="form-control"
              id="itemName"
              readonly
              [(ngModel)] = "ShoppingList!.item_name"
              name="itemName"
            />
          </div>
        </div>
        <div class="row">
          <div class="form-group w-50 col">
            <label for="itemQuantity">Quantity</label>
            <div class="input-group">
              <input
                type="number"
                min="0"
                class="form-control"
                aria-describedby="multiply-addon"
                id="itemQuantity"
                required
                [(ngModel)]="ShoppingList!.quantity"
                name="itemQuantity"
              />
            </div>
          </div>
          <div class="form-group w-50 col">
            <label for="itemCategory">Category</label>
            <select
              class="form-control"
              id="itemCategory"
              required
              [(ngModel)]="ShoppingList!.category_id"
              name="itemCategory"
              >
              <option disabled value=0>Select a Category</option>
              <option *ngFor="let category of categories" value="{{category.category_id}}">{{category.category_name}}</option>
            </select>
          </div>
        </div>
        <button (click)="updateItem()" type="button" class="btn btn-block btn-outline-dark">Edit Item</button>
      </form>
    </div>
    <div *ngIf="edited">
      <div class="alert alert-custom-success">
        <h4 class="alert-heading">Item was modified!</h4>
        <p class="mb-0">To add edit another Item to the inventory close the window and click the <b>"Edit"</b> Symbol</p>
      </div>
      <div class="alert alert-dark">
        <p class="mb-0">To close the Window click the <b>Finished</b> Button</p>
      </div>
      <button (click)="newItem(); modal.close('clicked Finished');" type="button" class="btn btn-block btn-outline-dark">Finished</button>
    </div>
  </div>
</ng-template>
