<div class="col-md-12">
  <div class="card card-container shadow-lg bg-white">
    <img
      id="profile-img"
      src="assets/icons/user.png"
      class="profile-img-card"
    />
    <!-- //ssl.gstatic.com/accounts/ui/avatar_2x.png -->
    <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="user_name">Username</label>
        <input
          type="text"
          class="form-control"
          name="user_name"
          id="user_name"
          [(ngModel)]="form.user_name"
          required
          minlength="3"
          maxlength="20"
          #user_name="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && user_name.errors }"
        />
        <div class="invalid-feedback" *ngIf="user_name.errors && f.submitted">
          <div *ngIf="user_name.errors['required']">Username is required</div>
          <div *ngIf="user_name.errors['minlength']">
            Username must be at least 3 characters
          </div>
          <div *ngIf="user_name.errors['maxlength']">
            Username must be at most 20 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="user_mail">Email</label>
        <input
          type="email"
          class="form-control"
          name="email"
          id="user_mail"
          [(ngModel)]="form.user_mail"
          required
          email
          #user_mail="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && user_mail.errors }"
        />
        <div class="invalid-feedback" *ngIf="user_mail.errors && f.submitted">
          <div *ngIf="user_mail.errors['required']">Email is required</div>
          <div *ngIf="user_mail.errors['email']">
            Email must be a valid email address
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="user_password">Password</label>
        <input
          type="password"
          class="form-control"
          name="password"
          id="user_password"
          [(ngModel)]="form.user_password"
          required
          minlength="6"
          #user_password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && user_password.errors }"
        />
        <div class="invalid-feedback" *ngIf="user_password.errors && f.submitted">
          <div *ngIf="user_password.errors['required']">Password is required</div>
          <div *ngIf="user_password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-outline-custom-success btn-block">Sign Up</button>
      </div>

      <div *ngIf="f.submitted && isSignUpFailed">
        <div class="alert alert-warning">
          <h4 class="alert-heading">Signup failed!</h4>
          <p>{{ errorMessage }}</p>
        </div>
      </div>
    </form>

    <div *ngIf="isSuccessful">
      <div class="alert alert-custom-success mb-3">
        <h4 class="alert-heading">The registration of your Account was successful!</h4>
        <p>Please LogIn to your new Account.</p>
      </div>
      <button routerLink="/login" class="btn btn-outline-custom-success btn-block">To Login</button>
    </div>
  </div>
</div>
