<section class="productSections">
      <div class="card">
        <div class="card-info">
          <div class="card-avatar">
            <i class="{{getIcon()}}"></i>
          </div>
          <div class="card-title">{{item.item_name}}</div>
          <div class="card-subtitle">Expires at: {{item.item_expiration_date}}</div>
          <div class="progress">
            <div class="progress-bar bg-{{item.progressString}}" role="progressbar" style="width: {{item.progress}}%" aria-valuenow="{item.progress}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          
        </div>
        <ul class="card-social">
          <li class="card-social__item">
            <i class="fa-solid fa-pen"></i>
          </li>
          <li class="card-social__item">
            <i class="fa-solid fa-trash"></i>
          </li>
        </ul>
    </div>
</section>
