<div [style.background-image]="'url(assets/images/background.jpg)'" class="background">
    <header id="home-header">
      <h2>HungryHeroic</h2>
      <button>Login</button>
    </header>
    <div id="SignUp">
      <h1>Start saving food on your own!</h1>
      <h3>by tracking your groceries</h3>
      <a routerLink="/login"><button>Sign Up</button></a>
    </div>
  </div>
  <div id="cause">
    <div id="cause-header">
      <h2>What's the cause?</h2>
      <p>(food waste in Austria)</p>
    </div>
    <div id="cause-body">
      <p>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
      <!-- Diagram not finished -->
      <div>
        <circle-progress [percent]="85"></circle-progress>
      </div>
    </div>
  </div>
  <div id="features">
    <div id="features-header">
      <h2>Features</h2>
      <p>What is HungryHeroic good for?</p>
    </div>
    <div id="features-body">
      <section class="block">
        <article>
          <img src="../../assets/icons/shopping.png" class="icons" alt="shopping-icon">
          <h3>Track your Groceries</h3>
        </article>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </section>
      <section class="block">
        <article>
          <img src="../../assets/icons/danger.png" class="icons" alt="danger-icon">
          <h3>Warning before food expires</h3>
        </article>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </section>
      <section class="block">
        <article>
          <img src="../../assets/icons/idea.png" class="icons" alt="idea-icon">
          <h3>Recipe Ideas based on stored food</h3>
        </article>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </section>
    </div>
  </div>
  <div id="team">
    <div id="team-header">
      <h2>Team</h2>
      <p>Who are we, why are we doing this?</p>
    </div>
    <div id="team-body">

    </div>
  </div>
  <footer>
    <a href="https://www.flaticon.com/free-icons/idea" title="idea icons">Idea icons created by Freepik - Flaticon<br></a>
    <a href="https://www.flaticon.com/free-icons/basket" title="basket icons">Basket icons created by Freepik - Flaticon<br></a>
    <a href="https://www.flaticon.com/free-icons/alert" title="alert icons">Alert icons created by Freepik - Flaticon<br></a>

  </footer>