.background {
  min-height: 100vh;
  color: white;
  background-position: center;
  background-size: cover;
}

.home-section{
  min-height: 40vh;
  padding-top: 2%;
}

.btn-outline-custom-success{
  color: #c5d510;
  border-color: #c5d510;
}

.btn-outline-custom-success:hover{
  background-color: #c5d510;
  color: #ffffff;
}
.btn-outline-custom-danger{
  color: #ffffff;
  background-color: #c60659;
  border-color: #c60659;
}

.btn-outline-custom-danger:hover{
  background-color: #ffffff;
  color: #c60659;
  border-color: #ffffff;
}

.btn-outline-custom-warning{
  color: #f7bb08;
  border-color: #f7bb08;
}
.btn-outline-custom-warning:hover{
  background-color: #f7bb08;
  color: #ffffff;
}

.signature{
  margin-left: 1%;
  margin-right: 1%;
}

h1{
  font-size: 10vh;
  font-family: "Century Schoolbook", Helvetica;
}

h2{
  font-family: "Century Schoolbook", Helvetica;
}

h3{
  font-size: 5vh;
  font-family: "Century Schoolbook", Helvetica;
}

.alert-success{
  background-color:#e9f471;
  color:#000000;
}
.alert-warning{
  background-color:#f9d66c;
  color:#000000;
}

.alert-danger{
  color:#000000;
}

.alert-dark{
  color:#000000;
}

.icons {
  width: 90px;
  height: 90px;
  padding: 10px;
}

.team-image {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .background {
    /* Stile für Bildschirmgrößen bis 768px Breite */
    /* z.B. ändere die Höhe, um den Inhalt besser darzustellen */
    min-height: 80vh;
  }

  .team-image {
    /* Stile für Bildschirmgrößen bis 768px Breite */
    /* z.B. ändere die Größe des Team-Bildes für eine bessere Darstellung auf kleinen Bildschirmen */
    width: 200px;
    height: 150px;
  }

  h1{
    font-size: 20px;
  }

  h3{
    font-size: 18px;
  }

  .signature{
    display: grid;
  }

  .makeWidder{
    text-align: center;
    width: 100%;
  }

  /* Weitere Anpassungen für andere Elemente */
}
