<!--Code from: https://codepen.io/Sara-H-ferer/pen/MWzrOxa -->
<h1>The page your are looking for couldn't be found</h1>
<section class="error-container">
    <div class="row">
    <div class="col-1 smaller">
        <span class="four"><span class="screen-reader-text">4</span></span>
    </div>
    <div  class="col-1 smaller">
        <span class="zero"><span class="screen-reader-text">0</span></span>
    </div>
    <div class="col-1 smaller">
        <span class="four"><span class="screen-reader-text">4</span></span>
    </div>
    </div>
</section>
<div class="link-container">
    <a *ngIf="currentUser" href="/home" class="more-link">Go to Startpage</a>
    <a *ngIf="!currentUser" href="/" class="more-link">Go to Startpage</a>
</div>
