<ion-content overflow-scroll="false">
  <main>
    <section class="content">
      <div *ngIf="isHomePage == false">
        <!-- Navigation for all Pages except HomePage -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand " id="brand" routerLink="/">HungryHeroic</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-auto-close="false" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
              <li class="nav-item">
                <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
              </li>
              <li class="nav-item">
                <a href="/login" class="nav-link" routerLink="login">Login</a>
              </li>
            </ul>
            <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home">Lists <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/account">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/recipes">Recipes</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <a routerLink="/"><button class="btn btn-primary my-2 my-sm-0" type="submit">Logout</button></a>
            </form>
          </div>
        </nav>
      </div>
      <router-outlet></router-outlet>
    </section>
  </main>
</ion-content>
