<div class="container-no-margin" *ngIf="currentUser; else loggedOut">
    <h1>List of Recipes</h1>
    <h4>A list of recipes according to what items are about to expire</h4>
    <div class="row">
        <div class="col-5">
            <div class="input-group mb-3">
                <input id="searchInput" [(ngModel)]="searchInput" (keyup.enter)="getSearchedRecipes()"type="text" class="form-control"
                    placeholder="Search for ingredients">
                <div class="input-group-append">
                    <button id="buttonSearch" (click)="getSearchedRecipes()" class="btn btn-primary" type="button"><i
                            class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
                </div>
            </div>
        </div>
        <div class="col-7">
            <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-filter" style="color: #ffffff;"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="filterListVegan()"><i class="fa-solid fa-leaf"></i> Vegan</a>
                <a class="dropdown-item" (click)="filterListVegetarian()"><i class="fa-solid fa-seedling"></i> Vegetarian</a>
                <a class="dropdown-item" (click)="filterListGluten()"><i class="fa-solid fa-wheat-awn"></i> Gluten Free</a>
                <a class="dropdown-item" (click)="filterListDairy()"><i class="fa-solid fa-cow"></i> Dairy Free</a>
                <a class="dropdown-item" (click)="filterListSustainable()"><i class="fa-solid fa-recycle"></i> Sustainable</a>
            </div>
            <button *ngIf="searched" id="resetButton" class="btn btn-primary" (click)="resetSearch()">
                <i class="fa-solid fa-rotate-left" style="color: #ffffff;"></i>
            </button>
        </div>
    </div>
<div *ngIf="recipes.length > 0">
<section class="cards productDiv">
        <div *ngFor="let recipe of this.recipes">
            <a href={{recipe.sourceUrl}} target="_blank">
                <article class="card card--1">
                    <div class="card__info-hover">
                        <div class="card__clock-info">
                            <svg class="card__clock" viewBox="0 0 24 24">
                            </svg><span class="card__time">{{recipe.readyInMinutes}} min</span>
                        </div>
                    </div>
                    <div class="card__img"></div>
                    <a class="card_link">
                        <div class="card__img--hover">
                            <img id="imageRecipe" src="{{recipe.image}}">
                        </div>
                    </a>
                    <div class="card__info">
                        <span class="card__category"> Recipe</span>
                        <h3 class="card__title">{{recipe.title}}</h3>
                        <i *ngIf=recipe.vegan class="fa-solid fa-leaf"></i>
                        <i *ngIf=recipe.vegetarian class="fa-solid fa-seedling"></i>
                        <i *ngIf=recipe.dairyFree class="fa-solid fa-cow"></i>
                        <i *ngIf=recipe.glutenFree class="fa-solid fa-wheat-awn"></i>
                        <i *ngIf=recipe.sustainable class="fa-solid fa-recycle"></i>
                        <br>
                        <span class="card__by">Servings <a class="card__author"
                                title="author">{{recipe.servings}}</a></span>
                        <br>
                        <span class="card__by">By <a class="card__author" title="author">{{recipe.sourceName}}</a></span>
                    </div>
                </article>
            </a>
        </div>
</section>
</div>
<div *ngIf="recipes.length == 0 && found">
    <p class="alert alert-secondary"><i class="fa-solid fa-clock-rotate-left"></i> Rezepte werden geladen ...</p>
</div>
<div *ngIf="recipes.length == 0 && searched && !found">
    <p class="alert alert-secondary"><i class="fa-solid fa-triangle-exclamation"></i> Keine Rezepte zu dieser Suche </p>
</div>
<div *ngIf="recipes.length == 0 && !found && !searched">
    <p class="alert alert-secondary"><i class="fa-solid fa-triangle-exclamation"></i> Es wurden leider keine Rezepte gefunden</p>
</div>
</div>

<ng-template #loggedOut>
    <app-error-page></app-error-page>
</ng-template>