<div class="col-md-12">
  <div class="card card-container shadow-lg bg-white">
    <img
      id="profile-img"
      src="assets/icons/user.png"
      class="profile-img-card"
    />
    <!-- //ssl.gstatic.com/accounts/ui/avatar_2x.png -->
    <form
      *ngIf="!isLoggedIn"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div class="form-group">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          name="username"
          id="username"
          [(ngModel)]="form.user_name"
          required
          #user_name="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && user_name.errors }"
        />
        <div *ngIf="user_name.errors && f.submitted" class="invalid-feedback">
          Username is required!
        </div>
      </div>
      <div class="form-group">
        <label for="user_password">Password</label>
        <input
          type="password"
          class="form-control"
          name="user_password"
          id="user_password"
          [(ngModel)]="form.user_password"
          required
          minlength="6"
          #user_password="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && user_password.errors }"
        />
        <div *ngIf="user_password.errors && f.submitted" class="invalid-feedback">
          <div *ngIf="user_password.errors['required']">Password is required</div>
          <div *ngIf="user_password.errors['minlength']">
            Password must be at least 6 characters
          </div>
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-outline-custom-success btn-block">Login</button>
      </div>
      <div class="form-group">
        <div *ngIf="f.submitted && isLoginFailed"  role="alert">
          <div class="alert alert-danger">
            <h4 class="alert-heading">Login failed!</h4>
            <p>{{ errorMessage }}</p>
          </div>
        </div>
      </div>
    </form>

    <div *ngIf="isLoggedIn">
      <div class="alert alert-custom-success mb-3">
        <h4>Logged in successfully!</h4>
        <p>Welcome back {{user_name}}</p>
      </div>
      <button routerLink="/home" class="btn btn-outline-dark btn-block">To Main Page</button>
    </div>
  </div>
</div>
