<div class="container-no-margin" *ngIf="currentUser; else loggedOut">
  <div class="row">
    <div class="col-9">
      <div *ngIf="supply">
        <h1 class="StartText">All your groceries</h1>
        <h4 class="StartSubText">List of all the groceries you have at home</h4>
      </div>
      <div *ngIf="!supply">
        <h1 class="StartText">Your Shopping List</h1>
        <h4 class="StartSubText">List of all the groceries you want to buy</h4>
      </div>
    </div>
    <div class="col-3" id="toggleCol">
      <div class="row">
        <ion-segment color="danger" value="danger">
          <ion-segment-button value="danger" (click)="retrieveInventory()">
            <ion-label>Supply List</ion-label>
          </ion-segment-button>
          <ion-segment-button value="segment" (click)="retrieveShopping()">
            <ion-label>Shopping List</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-5">
        <div class="input-group mb-3">
          <input id="searchInput" [(ngModel)]="searchItem.item_name" (keyup.enter)="searchForSimilarItem()" type="text" class="form-control"
            placeholder="Search for product">
          <div class="input-group-append">
            <button id="buttonSearch" (click)="searchForSimilarItem()" class="btn btn-primary" type="button"><i
                class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i></button>
          </div>
        </div>
      </div>
      <div class="col-7" id="addColl">
        <div class="dropdown alignDiv">
          <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-carrot" style="color: #ffffff;"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div *ngIf="supply">
              <a *ngFor="let category of categories" (click)="filterInventoryList('category', category.category_id)"
                class="dropdown-item">{{category.category_name}}</a>
            </div>
            <div *ngIf="!supply">
              <a *ngFor="let category of categories" (click)="filterShoppingList(category.category_id)"
                class="dropdown-item">{{category.category_name}}</a>
            </div>
          </div>
        </div>
        <div *ngIf="supply" class="dropdown alignDiv">
          <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-door-closed" style="color: #ffffff;"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngFor="let storageLocation of storageLocations"
              (click)="filterInventoryList('storage', storageLocation.storage_loc_id)"
              class="dropdown-item">{{storageLocation.storage_loc_name}}</a>
          </div>
        </div>
        <div class="dropdown alignDiv">
          <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="fa-solid fa-arrow-up-wide-short" style="color: #ffffff;"></i>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a *ngIf="supply" class="dropdown-item" (click)="sortListInventory('asc')">Name Asc</a>
            <a *ngIf="supply" class="dropdown-item" (click)="sortListInventory('desc')">Name Desc</a>
            <a *ngIf="supply" class="dropdown-item" (click)="sortListInventory('ascDate')">Date Asc</a>
            <a *ngIf="supply" class="dropdown-item" (click)="sortListInventory('descDate')">Date Desc</a>
            <a *ngIf="!supply" class="dropdown-item" (click)="sortListShopping('asc')">Name Asc</a>
            <a *ngIf="!supply" class="dropdown-item" (click)="sortListShopping('desc')">Name Desc</a>
          </div>
        </div>
        <div class="alignDiv2">
          <i (click)="open(addItemPopUp)" class="fa-solid fa-circle-plus fa-2x" id="addIcon"
            style="color: #c5d510;"></i>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="supply == true">
    <p *ngIf="inventory != null && inventory.length == 0 && searched && !noInList" class="alert alert-secondary"><i class="fa-solid fa-circle-question"></i>  Dieses Produkt ist nicht in deiner Liste</p>
    <p *ngIf="inventory != null && inventory.length == 0 && !searched && !noInList" class="alert alert-secondary">Füge Produkte zu deiner Liste hinzu</p>
    <p *ngIf="this.noInList" class="alert alert-secondary">Die Liste hat kein Produkt dieser Kategorie</p>
    <div class="productDiv">
      <app-product-display [categories]="categories" [storages]="storageLocations"
        *ngFor="let item of inventory" [inventoryList]="item"></app-product-display>
    </div>
  </div>
  <div *ngIf="supply == false">
    <p *ngIf="shopping != null && shopping.length == 0 && searched && !noInList" class="alert alert-secondary"><i class="fa-solid fa-circle-question"></i>  Dieses Produkt ist nicht in deiner Liste</p>
    <p *ngIf="shopping != null && shopping.length == 0 && !searched && !noInList" class="alert alert-secondary">Füge Produkte zu deiner Liste hinzu</p>
    <p *ngIf="this.noInList" class="alert alert-secondary">Die Liste hat kein Produkt dieser Kategorie</p>
    <div class="productDiv">
      <app-product-display-shopping [categories]="categories"
        [storageLocation]="storageLocations" *ngFor="let item of shopping"
        [ShoppingList]="item"></app-product-display-shopping>
    </div>
  </div>
  <!-- PopUp Add Item to DB -->
  <ng-template #addItemPopUp let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="popUp-title">
        Add a new Item
      </h4>
      <button type="button" class="close" aria-label="Close"
        (click)="modal.dismiss('Cross click'); newItem(); refreshList()">
        <span aria-hidden="true">
          ×
        </span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="!saved && !alreadyThere">
        <form>
          <div class="form-group">
            <label for="itemName">Name</label>
            <div *ngIf="!found && !needsToBeCreated">
              <input type="text" class="form-control" id="itemName" [(ngModel)]="addItem.item_name" required
                name="itemName" />
            </div>
            <div *ngIf="found">
              <input type="text" class="form-control" id="itemName" [(ngModel)]="currentItem.item_name" required
                name="itemName" readonly />
            </div>
            <div *ngIf="needsToBeCreated">
              <input type="text" class="form-control" id="itemName" [(ngModel)]="addItem.item_name" required
                name="itemName" readonly />
            </div>
          </div>
          <div *ngIf="!found && !needsToBeCreated">
            <div class="alert alert-dark">
              <p class="mb-0">Enter the Item you wannt to add to your list and click the <b>"Search"</b> Button</p>
            </div>
            <button (click)="searchForItem()" type="button" class="btn btn-block btn-outline-dark">Search</button>
          </div>
          <div *ngIf="found">
            <div class="row" style="margin-left: -10px">
              <div class="form-group w-50 col">
                <div *ngIf="supply">
                  <label for="itemStorage">Storage</label>
                  <select class="form-control" id="itemStorage" required [(ngModel)]="addToInventory.storage_loc_id"
                    name="itemStorage">
                    <option disabled value=0>Select a Location</option>
                    <option *ngFor="let storageLocation of storageLocations" value="{{storageLocation.storage_loc_id}}">
                      {{storageLocation.storage_loc_name}}</option>
                  </select>
                </div>
                <div *ngIf="!supply">
                  <label for="itemQuantity">Quantity</label>
                  <div class="input-group ">
                    <input type="number" min="0" class="form-control" aria-describedby="multiply-addon"
                      id="itemQuantity" required [(ngModel)]="addToShopping.quantity" name="itemQuantity" />
                  </div>
                </div>
              </div>
              <div class="form-group w-50 col">
                <div *ngIf="supply">
                  <label for="itemCategory">Category</label>
                  <select class="form-control" id="itemCategory" required [(ngModel)]="addToInventory.category_id"
                    name="itemCategory" ngModel (ngModelChange)="getDate(addToInventory.category_id!)">
                    <option (click)="getDate(addToInventory.category_id!)" disabled value=0>Select a Category</option>
                    <option *ngFor="let category of categories" value="{{category.category_id}}">
                      {{category.category_name}}</option>
                  </select>
                </div>
                <div *ngIf="!supply">
                  <label for="itemCategory">Category</label>
                  <select class="form-control" id="itemCategory" required [(ngModel)]="addToShopping.category_id"
                    name="itemCategory">
                    <option disabled value=0>Select a Category</option>
                    <option *ngFor="let category of categories"value="{{category.category_id}}">
                      {{category.category_name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div *ngIf="supply">
              <div class="row" style="margin-left: -10px">
                <div class="col-no-margin form-group w-25">
                  <label for="itemQuantity">Quantity</label>
                  <div class="input-group">
                    <input type="number" min="0" class="form-control" aria-describedby="multiply-addon"
                      id="itemQuantity" required [(ngModel)]="addToInventory.quantity" name="itemQuantity" />
                  </div>
                </div>
                <div class="form-group w-75">
                  <label for="itemExpirationDate">Estimated Expiration Date</label>
                  <input type="date" class="form-control" id="itemExpirationDate" [(ngModel)]="date2" required
                    name="itemExpirationDate" placeholder="dd.MM.yyyy" />
                </div>
              </div>
            </div>
            <button *ngIf="supply" (click)="saveInventory()" type="button"
              class="btn btn-block btn-outline-dark">Save</button>
            <button *ngIf="!supply" (click)="saveShoppping()" type="button"
              class="btn btn-block btn-outline-dark">Save</button>
          </div>
        </form>
      </div>
      <div *ngIf="saved">
        <div class="alert alert-custom-success">
          <h4 class="alert-heading">New Item was created successfully!</h4>
          <p class="mb-0">To create another Item click the <b>"Add another Item"</b> Button</p>
        </div>
        <div class="alert alert-dark">
          <p class="mb-0">To close the Window click the <b>Finish</b> Button</p>
        </div>
        <button (click)="newItem()" type="button" class="btn btn-block btn-outline-custom-success">Add another
          Item</button>
        <button (click)="newItem(); modal.close('clicked Finished'); refreshList()" type="button"
          class="btn btn-block btn-outline-dark">Finished</button>
      </div>
      <div *ngIf="alreadyThere">
        <div class="alert alert-dark">
          <p class="mb-0">You already added <b>{{currentItem.item_name}}</b> to your list. If you want to update it use
            the <b>Edit</b> Icon. If you want to add a new one please <b>Delete</b> the old one first</p>
        </div>
        <button (click)="newItem(); modal.close('clicked Finished'); refreshList()" type="button"
          class="btn btn-block btn-outline-dark">Finished</button>
      </div>
    </div>
  </ng-template>
  <script type="text/javascript">
    $('.navbar-collapse').on('click', function (event) {
      event.stopPropagation();
    });
  </script>

</div>

<ng-template #loggedOut>
 <app-error-page></app-error-page>
</ng-template>