<header class="brand-name">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">HungryHeoric</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link">Lists <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link">Recipes</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <a routerLink="/"><button class="btn btn-primary my-2 my-sm-0" type="submit">Logout</button></a>
        </form>
      </div>
    </nav>
  </header>
  <div class="row">
    <div class="col-9">
        <div>
            <h1>All your groceries</h1>
            <h4>List of all the groceries you have at home</h4>
        </div>
    </div>
    <div class="col-3" id="toggleCol">
        <div class="row">
            <ion-segment color="danger" value="danger">
                <ion-segment-button value="danger" (click) = "retrieveInventory()" >
                  <ion-label>Supply List</ion-label>
                </ion-segment-button>
                <ion-segment-button value="segment" (click) = "retrieveShopping()" >
                  <ion-label>Shopping List</ion-label>
                </ion-segment-button>
              </ion-segment>
        </div>
    </div>
  </div>
<div>
    <div class="row">
        <div class="col-3">
            <input class="form-control" type="text" placeholder="Search for product"/>
        </div>
        <div class="col-7">
            <ion-segment-button value="segment">
                <button class="btn btn-primary" type="button">Search</button>
            </ion-segment-button>
        </div>
        <div class="col-1" id="addIconCol">
                <i (click)="open(addItemPopUp)" class="fa-solid fa-circle-plus fa-2x" style="color: #c5d510;"></i>
        </div>
        <div class="col-1">
                <button class="btn btn-primary">
                  Sort
                  <i class="fa-solid fa-arrow-up-wide-short" style="color: #ffffff;"></i>
                </button>
        </div>
      </div>
</div>
  <app-lists  *ngIf="supply == true" [inventoryList]="inventory"></app-lists>
  <app-shopping-list  *ngIf="supply == false" [inventoryList]="shopping"></app-shopping-list>
<!-- PopUp Add Item to DB -->
<ng-template #addItemPopUp let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="popUp-title">
      Add a new Item
    </h4>
    <button type="button" class="close"
            aria-label="Close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">
                  ×
              </span>
    </button>
  </div>
  <div class="modal-body">
      <div *ngIf="!saved">
        <form>
          <!-- Temporary -->
          <div class="row">
            <div class="col-no-margin form-group w-25">
              <label for="itemQuantity">Quantity</label>
              <div class="input-group">
                <input
                  type="number"
                  min="0"
                  class="form-control"
                  aria-describedby="multiply-addon"
                  id="itemQuantity"
                  [(ngModel)]="addItem.item_quantity"
                  required
                  name="itemQuantity"
                />
                <div class="input-group-append">
                  <span class="input-group-text" id="multiply-addon"> × </span>
                </div>
              </div>
            </div>
            <div class="col form-group">
              <label for="itemName">Name</label>
              <input
                type="text"
                class="form-control"
                id="itemName"
                [(ngModel)]="addItem.item_name"
                required
                name="itemName"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group">
              <label for="itemExpirationDate">Expiration Date</label>
              <input
                type="Date"
                class="form-control"
                id="itemExpirationDate"
                [(ngModel)]="addItem.item_expiration_date"
                required
                name="itemExpirationDate"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group w-50 col">
              <label for="itemStorage">Storage</label>
              <select
                class="form-control"
                id="itemStorage"
                [(ngModel)]="addItem.item_storage_loc_id"
                required
                name="itemStorage">
                <option *ngFor="let storageLocation of storageLocations" value="{{storageLocation.storage_loc_id}}">{{storageLocation.storage_loc_name}}</option>
              </select>
            </div>
            <div class="form-group w-50 col">
              <label for="itemCategory">Category</label>
              <select
                class="form-control"
                id="itemCategory"
                [(ngModel)]="addItem.item_category_id"
                required
                name="itemCategory">
                <option *ngFor="let category of categories" value="{{category.category_id}}">{{category.category_name}}</option>
              </select>
            </div>
          </div>
          <button (click)="saveItem()" type="button" class="btn btn-block btn-outline-dark">Save</button>
        </form>

      </div>
      <div *ngIf="saved">
        <h4>New Item was created successfully!</h4>
        <button (click)="newItem()" type="button" class="btn btn-block btn-outline-dark">Add another Item</button>
      </div>
  </div>
  <!--
  <div class="modal-footer">
    <button type="button"
            class="btn btn-outline-dark"
            (click)="modal.close('Save click')">
      Save
    </button>
  </div>
  -->
</ng-template>
