header {
    display: block;
    height: 50px;
    box-shadow: 0px 5px 25px #d8d8d8;
  }
  .nav-item{
    margin-right: 30px;
}

.navbar{
  padding-left: 10px;
  font-size: 20px;
  padding-right: 10px;
}

.navbar-brand{
  font-size: 25px;
}

#toggleCol{
    margin-top: 20px;
    text-align: center;
}

#leftToggle{
    color: #eb7658;
}

.alignDiv{
  float: right;
  padding-left: 0px;
}

.productDiv{
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-left: 1.5%;
}

.row{
    margin-left: 0.7%;
}

.headings{
    margin-left: 1.5%;
}

.col-7{
    text-align: end;
}

#sortButton{
  margin-bottom: 10px;
  margin-left: 20px;
}

#buttonSearch{
  width: 40px;
}

.StartText{
  font-size: 26px;
}

.StartSubText{
  font-size: 20px;
}

.btn-primary{
    background-color: #eb7658;
    border-color: #eb7658;
    border-radius: 7px;
}

.alert-custom-success{
  background-color:#e9f471;
  color:#000000;
}

.btn-outline-custom-success{
  color: #c5d510;
  background-color: #ffffff;
  border-color: #c5d510;
}

.btn-outline-custom-success:hover{
  background-color: #c5d510;
  color: #ffffff;
}

#brand{
  font-family: "Century Schoolbook", sans-serif;
  font-weight: bolder;
  margin-left: 1%;
}

@media (min-width: 360px) {
  .col-5{
    width: 100%;
  }
  .col-7{
    width: 100%;
    text-align: center;
  }
  #sortButton{
    margin-left: 10px;
  }
  .StartText{
    font-size: 25px;
  }

  .StartSubText{
    font-size: 18px;
  }
  .col-9{
    display: none;
    width: 100%;
  }
  .col-3{
    width: 95%;
    margin-bottom: 20px;
  }
  .alignDiv{
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 5px;
  }
  
}

@media (min-width: 390px) {
  .alignDiv{
    padding-left: 22px;
    padding-right: 22px;
  }
}

@media (min-width: 400px) {

}

@media (min-width: 1280px) {
  .col-7{
    text-align: end;
    width: 57.333%;
  }

  .col-5{
    width: 41.667%;
  }

  .alignDiv{
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 0px;
  }

  #sortButton{
    margin-left: 20px;
  }
  .col-9{
    display: flex;
    width: 70%;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .col-3{
    width: 30%;
    margin-bottom: 20px;
    margin-top: 0px;
  }
  .StartText{
    font-size: 26px;
  }

  .StartSubText{
    font-size: 20px;
  }


}
