<section class="productSections">
    <div class="card" *ngIf="productDisplay.progress!=0">
        <div class="card-info">
          <div class="card-avatar">
            <i class={{productDisplay.icon}}></i>
          </div>
          <div class="card-title">{{productDisplay.name}}</div>
          <div class="card-subtitle">Expires at: {{productDisplay.expiryDate}}</div>
          <div class="progress" >
            <div class="progress-bar bg-{{productDisplay.color}}" role="progressbar" style="width: {{productDisplay.progress}}%" aria-valuenow="{productDisplay.progress}" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          
        </div>
        <ul class="card-social">
          <li class="card-social__item">
            <i class="fa-solid fa-pen"></i>
          </li>
          <li class="card-social__item">
            <i class="fa-solid fa-trash"></i>
          </li>
        </ul>
    </div>
   <div class="card2" *ngIf="productDisplay.progress==0">
      <div class="card-info">
        <div class="card-avatar">
          <i class={{productDisplay.icon}}></i>
        </div>
        <div class="card-title">{{productDisplay.name}}</div>
      </div>
      <ul class="card-social">
        <li class="card-social__item">
          <i class="fa-solid fa-bag-shopping"></i>
        </li>
        <li class="card-social__item">
          <i class="fa-solid fa-trash"></i>
        </li>
      </ul>
  </div>
</section>