<div [style.background-image]="'url(assets/images/background.jpg)'" class="background">
    <header id="home-header">
      <h2>HungryHeroic</h2>
      <button>Login</button>
    </header>
    <div id="SignUp">
      <h1>Start saving food on your own!</h1>
      <h3>by tracking your groceries</h3>
      <a routerLink="/login"><button>Sign Up</button></a>
    </div>
  </div>
  <div id="cause">
    <div id="cause-header">
      <h2>What's the cause?</h2>
      <p>(food waste in Austria)</p>
    </div>
    <div id="cause-body">
      <p>
        Food waste in Austria is a significant concern, with private households playing a substantial role in its magnitude.
        It is estimated that around <b>42%</b> of the total food waste in the country originates from homes, amounting to approximately <b>577,000 tons</b> of discarded food annually.
        Several factors contribute to this wastage.<br><br>
        <em>Inadequate meal planning</em> is a common issue, leading to excessive food preparation and subsequent disposal.
        Additionally, a <em>lack of portion control</em> results in leftovers being discarded.
        <em>Misinterpretation of expiration dates</em> also plays a role, as consumers often discard food that is still perfectly safe to consume.
        <em>Impulse buying</em>, <em>overstocking</em>, and a <em>general lack of knowledge regarding proper food storage</em> and preservation techniques further contribute to the problem.<br><br>
        The consequences of food waste are far-reaching.
        Environmentally, it leads to unnecessary greenhouse gas emissions and the wastage of precious resources such as water and land.
        Socially, food waste represents missed opportunities to address hunger and food insecurity within Austria. <br><br>
        By taking small but impactful steps, such as planning meals in advance, buying only what is needed, and finding creative ways to use leftovers, individuals can contribute to minimizing food waste in Austria.
        Together, we can work towards a more sustainable and resource-efficient future while tackling the issue of food waste in our homes.
      </p>
      <!-- Diagram not finished -->
      <div id="circle-progress">
        <circle-progress [percent]="42" subtitle="in private homes"></circle-progress>
      </div>
    </div>
  </div>
  <div id="features">
    <div id="features-header">
      <h2>Features</h2>
      <p>What is HungryHeroic good for?</p>
    </div>
    <div id="features-body">
      <section class="block">
        <article>
          <img src="../../assets/icons/shopping.png" class="icons" alt="shopping-icon">
          <h3>Track your Groceries & Storage</h3>
        </article>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </section>
      <section class="block">
        <article>
          <img src="../../assets/icons/danger.png" class="icons" alt="danger-icon">
          <h3>Warning before food expires</h3>
        </article>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </section>
      <section class="block">
        <article>
          <img src="../../assets/icons/idea.png" class="icons" alt="idea-icon">
          <h3>Recipe Ideas based on stored food</h3>
        </article>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
      </section>
    </div>
  </div>
  <div id="team">
    <div id="team-header">
      <h2>Team</h2>
      <p>Who are we, why are we doing this?</p>
    </div>
    <div id="team-body">
      <section>
        <article>
          <img src="../../assets/images/no-image.png" class="team-image" alt="no-image">
          <h3>Marlene Zoe Ruf</h3>
        </article>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum.
        </p>
      </section>
      <section>
        <article>
          <img src="../../assets/images/no-image.png" class="team-image" alt="no-image">
          <h3>Merve Tuz</h3>
        </article>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum.
        </p>
      </section>
      <section>
        <article>
          <img src="../../assets/images/no-image.png" class="team-image" alt="no-image">
          <h3>Sara Höferer</h3>
        </article>
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
          At vero eos et accusam et justo duo dolores et ea rebum.
        </p>
      </section>
    </div>
  </div>
  <footer>
    <a href="https://www.flaticon.com/free-icons/idea" title="idea icons">Idea icons created by Freepik - Flaticon<br></a>
    <a href="https://www.flaticon.com/free-icons/basket" title="basket icons">Basket icons created by Freepik - Flaticon<br></a>
    <a href="https://www.flaticon.com/free-icons/alert" title="alert icons">Alert icons created by Freepik - Flaticon<br></a>

  </footer>
